body {
  font: 14px "Open Sans", sans-serif;
  margin: 0px;
  height:100%;
}

html {
  background-image: url(./assets/images/ml-background-muted.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  height:100%;
}

section.nav-bar {
  z-index: 2;

  position: -webkit-sticky;
  position: sticky;

  top: 50px;
  height:400px;

  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;


  margin: 0;
  padding: 0;

  background-color: #AA11FF;

  border-radius: 0 0 5px -5px;
}

.nav {
  position: relative;
  float: right;
  right: 100px;
  width:100px;

  z-index: 2;

  margin: 0;
  padding: 0;
}

ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width:100%;
  height:100%;
}

li {
  flex-grow: 1;

  display:flex;
  margin: 0;
  padding: 0;

  list-style-type: none;
  list-style-position: outside;
  width: 100%;
}

.section-button {
  width: 100%;

  margin:0;
  padding: 0;  

  flex-grow: 1;
  
  text-align:center;
  line-height: 80px;
  
  text-decoration: none;
  font-size: 1em;
  color:white;

  background-color: #222222;
}

.section-button:hover {
  color:grey;
}

.active { 
  background-color: #21b2bf;
}

.down-button {

  background-color: #222222;

  position:absolute;
  top: 100vh;
  transform: translateY(-100%);

  height: 100px;
}

.down-arrow {
  display:block;
  width: 100%;
  height: 100%;

  background-image: url(./assets/images/down-arrow-zoomed.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  animation: shake .85s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translateY(0%); }
  50% { transform: translateY(10%); }
  100% { transform: translateY(0%); }
}


#title-screen {
  width: 100%;
  height: 100vh;
}

#title-screen > * {
  color: white;
}

.white {
  background: white;
}

.grey {
  background: lightgrey;
}

.black {
  background: #424242;
  color: lightgrey;
}

.black .vertical-container > h2 {
  color: white;
}

.block {
  width: 100%;
  display: block;
  margin:0;
  padding:0;

  position: relative;

}

.horizontal-container {
  display:flex;
  flex-direction: row;
  align-items: flex-start;

  margin: 2em 0em 2em 0em;

  width: 100%;
}

.column {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 33%;

  margin: 0em 1em 2em 1em;
}

.column-33 {
  flex-grow: 0;
  flex-shrink: 1;
  width: 33%;

  margin: 0em 1em 2em 0em;
}

.vertical-container {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  width: 1000px;
  left: 50vw;
  transform: translateX(-50%);
}

.title-screen-subtitle {
  font-size: 1.5rem;
  margin: .5em 0 1.5em 0;
  padding: 0;
  text-align: center;
  color:white;
}

.subtitle {
  color: dimgrey;
  font-size: 1.5rem;
  margin: .5em 0 1.5em 0;
  padding: 0;

  text-align: center;
}

.date {

}

.skill-score {
  float: right;
}

.skill-name {
  float: left;
}

.star {
  width: 15px;
  height: 15px;
  opacity: 0.9;

  margin: 0em .15em 0em .15em;
}

.skill-column {
  
}

.column > li {
  margin: 0.3em 0 0.3em 0;
  display: initial;
}

.left {
  margin: 0 1em 1em 0;
}

.right {
  margin: 0 0 1em 1em;
}

.vertically-centered-in-screen {
  position: relative;
  top:50%;
  transform: translate(-50%, -50%);
}

hr {
  width: 100%;
  color: black;
  border-style: inset;
  border-width: 1px;
  margin:0.5em auto;
  margin-left: 0;
  margin-right: 0; 
}

h1 {
  font-weight: bold;
  font-size:4rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 0;
  padding: 0em .5em 0.25em .5em;
  justify-content: center;
}

h2 {
  color: darkcyan;
  font-weight: normal;
  font-size: 3rem;
  margin: 1em 0em 0em 0em;
  padding: 0;
}

h3 {
  color: darkcyan;
  font-weight: normal;
  font-size: 1.8rem;
  margin: .75em 0 .75em 0;
  padding: 0;
}

p {
  line-height: 1.75em;
  color: #333333;
}

strong {
  font-size: 1rem;
  line-height: 2.5em;
}

.vertical-container > h3 {
  width: 100%;
}

h4 {
  border: 0;
  margin: 0;
}

.icon-link {
  opacity: 0.5;

  color: white;
  text-decoration: none;

  display:flex;
  flex-direction: row;
  align-items: flex-start;

  width: 100%;

  margin: 1em 0em 1em 0em;
}

.icon-link-button:hover {
  opacity: 1;
}

.icon-link > p {
  flex-shrink: 1;

  color:white;

  margin: 0em 0em 0em 1em;
  line-height: 35px
}

.project > p {
  color:black;
}

.pic {
  display:block;
  width: 100%;
  height: 100%;

  margin-top: 5em;
}

.spacing {
  margin: 10em 0 10em 0;
}

@media screen and (max-width: 1224px) {

  html {
    background: #000000;
  }

  .vertical-container {
    width: 500px;
  }

  h1 { 
    justify-content: center;
    text-align: center;
  }
}